@import "../../common/style/mixin.scss";
.m-leftmenu + .u-container-r {
  margin-left: 172px;
  padding-right: 8px;
  transition: all .3s;
}

.m-leftmenu {
  background: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin-top: 9px;
  height: calc(100vh - 60px);
  width: 164px;
  overflow: hidden;
  box-shadow: 0 3px 7px 0 #ccc;
  max-width: 172px;
  transition: all .3s;
  &.collapsed {
    width: auto;
    + .u-container-r {
      margin-left: 58px;
    }
    .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon,
    .ant-menu-inline-collapsed > .ant-menu-item .anticon {
      font-size: 18px;
      line-height: 50px;
      margin-left: -6px;
    }
    
  }
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: none;
  }
  .anticon {
    color: $primary-color;
    font-size: 18px;
    margin: 0;
    line-height: 48px;
    height: 48px;
    float: left;
    width: 25px;
    text-align: center;
    overflow: hidden;
  }
  .name {
    font-size: 16px;
    width: 90px;
    overflow: hidden;
    text-indent: 10px;
    position: relative;
    float: left;
    .ant-badge {
      height: 16px;
      margin-left: 5px;
      text-indent: 0;
    }
  }
  .subpoint {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $primary-color;
    vertical-align: 2px;
    margin-right: 15px;
  }
  .ant-badge.big {
    vertical-align: -2px;
  }
  .ant-badge.dot {
    vertical-align: 10px;
  }
  .ant-menu-sub.ant-menu-inline > .ant-menu-item,
  .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    line-height: 42px;
    height: 42px;
    font-size: 14px;
  }
  .ant-menu-vertical .ant-menu-item:not(:last-child),
  .ant-menu-vertical-left .ant-menu-item:not(:last-child),
  .ant-menu-vertical-right .ant-menu-item:not(:last-child),
  .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin: 0;
    border-bottom: 1px solid #f6f6f6;
  }
  .ant-menu-vertical .ant-menu-item,
  .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item,
  .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title,
  .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title,
  .ant-menu-inline .ant-menu-submenu-title {
    margin: 0;
    border-bottom: 1px solid #f6f6f6;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
  .m-leftmenu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: $primary-color;
    color: #fff;
    .iconfont {
      color: #fff;
    }
    .subpoint {
        background: #fff;
    }
  }
  .ant-menu-submenu-vertical.active .ant-menu-submenu-title {
    background: $primary-color;
    color: #fff;
    .anticon {
      color: #fff;
    }
  }
}

.ant-menu-submenu.ant-menu-submenu-placement-rightTop .ant-menu-vertical{
  > .ant-menu-item {
    margin: 0;
    height: 40px;
    line-height: 40px;
  }
}
